<div class = "question_show_partial" >
  <div class = "question_votes" >
    <% if logged_in? %>
       <%= render partial: "votes/vote_buttons", locals: {question: question, votable_type: "Question", votable_id: question.id, vote_count: question.vote_count } %>
     <% end %>
  </div>
  <div class = "question_buttons" >
    <% if logged_in? %>
      <% if question.user_id == current_user.id || current_user.is_admin %>
        <%= button_to "Edit", "/questions/#{question.id}/edit", method: :get %>
        <%= button_to "Delete", question, {method: "delete", confirm: "Are you sure you want to delete this question?"} %>
      <% end %>
    <% end %>
  </div>

  <ul class = "question_content" >
<<<<<<< HEAD
    <li class = "question_title" >
      <a href="/questions/<%= question.id %>" id="<%= question.id %>"><h2><%= question.title %></h2></a>
    <li><h4><%= question.updated_at %></h4></li>
    <li><h4><%= link_to question.user.name, user_path(question.user) %></h4></li>

=======
    <a href="/questions/<%=question.id%>"><h2><%= question.title %></h2></a>
    <h4><%= question.updated_at %></h4>
>>>>>>> Change links to buttons and more style.
    </li>
    <li class = "question_body" >
      <%= question.body %>
    </li>
    <li class = "question_tag" >
      Tags: <%= question.display_tags %>
    </li>
  </ul>
</div>
