<div class='container'>
    <p class = "type_titles" ></p>
    <div class = "question_main" >
      <%= render partial: "questions/show.html.erb", locals: {question: @question} %>
      <%= render template: "comments/show.html.erb", locals: { comments: @question.comments } %>
      <% if logged_in? %>
        <%= render partial: "comments/new", locals: { q_id: @question.id, commentable_id: @question.id, commentable_type: "Question"} %></div>
    <% end %>
    <p class = "type_titles" >Answers :</p>

    <% @question.answers.each do |answer| %>
      <% @answer = answer %>
      <%= render partial: "answers/show.html.erb", locals: {answer: answer} %>
      <%= render template: "comments/show.html.erb", locals: { comments: @answer.comments } %>
      <% if logged_in? %>
      <br/>
      <br/>
        <p><%= render partial: "comments/new", locals: { answer_id: @answer.id, commentable_id: @answer.id, commentable_type: "Answer"} %></p>
      <% end %>


    <% end %>
      <br/>

      <br/>
        <% if logged_in? %>
          <%= render template: "answers/new.html.erb", locals: { question: @question, answer: @new_answer} %>
        <% end %>

</div>