<div class='container'>
  <h2><%= @question.title %></h2>

  <p class='question_body'><%= @question.body %></p>



  <%= render template: "answers/new.html.erb", locals: { question: @question, answer: @answer} %>


    <% @question.answers.each do |answer| %>
      <%= answer.body %><%= button_to 'Edit',edit_question_answer_path(@question, answer), :method => :get %> <br>
    <% end %>

</div>