<div class='container'>
  <h2><%= @question.title %></h2>

  <p class='question_body'><%= @question.body %></p>

  <%= button_to "Delete", @question, method: "delete" %>

  <%= render template: "answers/new.html.erb", locals: { question: @question, answer: @answer} %>


    <% @question.answers.each do |answer| %>
      <h3><%= answer.body %></h3><%= button_to 'Edit',edit_question_answer_path(@question, answer), :method => :get %> <br>
    <% end %>

</div>

