<div class='container'>
  <h2>Log in</h2>
  <%= display_error %>
  <%= form_for :user, url: '/login'  do |f| %>
    <p>Name: <%= f.text_field :name %></p>
    <p>Password: <%= f.password_field :password %></p>
    <p><%= f.submit "Log in" %></p>

  <% end %>
</div>

