<div class = "add_comment" >
<%= form_for :comment, url: '/comments', method: :post do |f| %>
  <%= f.text_field :body, placeholder: 'add a comment' %><br>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :commentable_id, value: commentable_id %>
  <%= f.hidden_field :commentable_type, value: commentable_type %>
  <%= f.submit "Submit" %>
<% end %>
</div>