<!-- <h3 class = "comment_label" >Comments</h3> -->
<ul class='comment_list'>
  <% comments.each do |c| %>
    <li>
      <div class='each_comment'>
        <div></div>
        <div class = "comment_body" ><%= c.body %> - <span><%= link_to c.user.name, user_path(c.user) %> <%= c.created_at %></span></div>
        <div class = "comment_buttons" >
          <%= button_to "Edit", "/comments/#{c.id}/edit", method: :get %>
        </div>
        <div class = "comment_buttons" >
          <%= button_to "Delete", c, { method: "delete" } %>
        </div>
      </div>
    </li>
  <% end %>

</ul>


