<div class='container'>
  <% @questions.each do |q| %>
    <% if logged_in? %>
      <%= render partial: "votes/vote_buttons", locals: {question: q} %>
    <% end %>
  <a href="/questions/<%= q.id %>" id="<%= q.id %>">
    <h2> <%= q.title %> <%= q.updated_at %> <br>
      points: <%= q.votes.count %>
    </h2>
    <p class='question_body'> <%= q.body %> </p>
  </a>

  <% end %>

</div>
