<div class='container'>
   <%= button_to "Unanswered Questions", {action: "unanswered_questions"}, method: "get" %>

  <% @questions.each do |q| %>
  <a href="/questions/<%= q.id %>" id="<%= q.id %>">
    <h2>
      <%= q.title %> <%= q.updated_at %></a> <br>
      points: <%= q.vote_count %>
      <% if logged_in? %>
        <%= render partial: "votes/vote_buttons", locals: {question: q, votable_type: "Question", votable_id: q.id} %>
      <% end %>
    </h2>
    <p class='question_body'> <%= q.body %> </p>

  <% end %>

</div>
