<div class = "answer_show_partial" >
  <div class = "answer_votes" >
    <% if logged_in? %>
      <%= render partial: "votes/vote_buttons", locals: {answer: answer, votable_type: "Answer", votable_id: answer.id, vote_count: answer.vote_count } %>
    <% end %>
  </div>

  <div class = "answer_buttons" >
    <% if logged_in? && (answer.user_id == current_user.id || current_user.is_admin) %>
      <div class = "comment_buttons" >
        <%= button_to "Edit", "/questions/#{question.id}/answers/#{answer.id}/edit", method: :get %>
      </div>
      <div class = "comment_buttons" >
        <%= button_to "Delete", [question, answer], { method: "delete" } %>
      </div>
    <% end %>
  </div>

  <div class = "answer_content" >
    <p class = "answer_body" >
      <%= answer.body %>
    </p>
    <p class = "answer_date" >
      answered at <%= answer.updated_at %> by  <span style='font-size: 1.5em;'><%= link_to answer.user.name, user_path(answer.user) %></span>
    </p>

  </div>

</div>