<div class='new_form'>
  <h2>Edit Answer</h2>
  <%= form_for :answer, method: "put", url: {action: "update"} do |f| %>
    <%= f.text_area :body, cols: '92', rows: '10' %><br>
    <%= f.submit "Submit" %>
  <% end %>
  <br>

  <%= form_for :answer, method:"delete", url: {action: "destroy"} do |f| %>
    <%= f.submit "Delete" %>
  <% end %>
</div>