<div class = "new_form" >
  <div class = "new_form_title" >
    <h2>Add another answer!</h2>
  </div>
  <div class = "html_output" >
  </div>
  <div class = "markdown_input" >
    <%= form_for [@question, answer] do |f| %>
      <p><%= f.text_area :body, placeholder: 'add an answer', cols: '92', rows: '10' %></p>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :question_id, value: @question.id %>
      <p><%= f.submit "Submit" %></p>
    <% end %>
  </div>
</div>
