<%= form_for votable.votes.new, url: '/votes/upvote' do |f|  %>
  <%= f.hidden_field :votable_type, value: votable.class %>
  <%= f.submit 'Upvote' %>
<% end %>

<h3><%= votable.vote_count %></h3>

<%= form_for votable.votes.new, url: '/votes/downvote' do |f|  %>
  <%= f.hidden_field :votable_type, value: votable.class %>
  <%= f.submit 'Downvote' %>
<% end %>
