<!DOCTYPE html>
<html>
<head>
  <link href='//fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <title>PDFMHDbcOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="wrapper">
    <body>
      <header>
        <a href='/'><h1>DBC Overflow</h1></a><br>
        <nav>
          <ul>
            <% if logged_in? %>
              <h2>Hello, <%= current_user.name %>! </h2>
              <li><%= button_to 'New Question', new_question_path, method: :get %>
              </li>
              <li><%= button_to 'Logout', logout_path, method: :get %></li>
            <% else %>
              <li>
                <%= button_to 'Login', login_path, method: :get %>
              </li>
              <li>
                <%= button_to 'Signup', signup_path, method: :get %>
              </li>
            <% end %>
            <li>
              <%= form_tag("/search", method: "get", id: "search_form") do %>
                <%= text_field_tag(:q) %>
                <%= submit_tag("Search") %>
              <% end %>
            </li>
          </ul>
          <%= flash.alert %>
        </nav>
      </header>
      <%= yield %>
    </body>
  </div>
</html>
